@import "tailwindcss";

:root {
  --background: #f2f2f2;
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
}
